services:
  # 1. Java API Gateway
  - type: web
    name: cognita-api-gateway
    env: docker
    rootDir: cognita-api-gateway
    region: oregon
    plan: free
    dockerContext: cognita-api-gateway
    envVars:
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: VECTOR_SERVICE_URL
        value: http://cognita-vector-service:10000
    healthCheckPath: /api/health

  # 2. Python Vector Service
  - type: web
    name: cognita-vector-service
    env: python
    rootDir: cognita-vector-service
    region: oregon
    plan: free
    buildCommand: "pip install -r requirements.txt && python src/indexer.py"
    startCommand: "gunicorn -b 0.0.0.0:$PORT server:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
